body {
    background-image: url("img/gplaypattern.png") ;
	
}


.header {
	height: 600px;
	/*height: 100vh;*/
	background: url('img/slika.jpg') no-repeat;
	background-size: cover;
}
.header a {
	text-transform: uppercase;
	color: #fff;
	font-size: 30pt;
	margin: 40px 0 0 40px;
	display: block;	
	font-family: 'Yanone Kaffeesatz', sans-serif;

}
.header a:hover {
	text-decoration:none;
}
.header p {
	font-size: 40pt;
	color: #fff;
	text-align: center;
	margin-top: 150px;
	font-family: 'Marck Script', cursive;
	text-transform: lowercase;
}

@media screen and (max-width:760px) {
	.header{
		height: 300px;
	}
	.header p{
		display: none;
	}
	.header a{
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		margin: 0;
	}
}


.main-menu {
	width: 100%;
	background-color: #F0F0F0;
	text-align: center;
}
.main-menu li {
	display: inline-block;
	height: 100px;
	transition: 0.6s;

}
.main-menu li a {
	display: block;
	line-height: 100px;
	color: #000;
	font-size: 24pt;
	padding-left: 40px;
	padding-right: 40px;
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.main-menu li:hover {
	background-color: #D0D0D0;
}
.main-menu li:hover a {
	color: #FFF;
	text-decoration:none;
}

.hamburger {
	display: none;
	text-align: right;
	padding-right: 50px;
	line-height: 100px;
	background-color: #F0F0F0;
	cursor: pointer;
}

.hamburger.glyphicon{
	font-size: 24pt;
	margin-top:30px;
	cursor: pointer;
	
}

@media screen and (max-width:760px) {
	
	.main-menu {
		padding-left: 0;
		display: none;
	}
	.main-menu li {
		display: block;
		padding-left:0;
		padding-right: 0;
		text-align: center;
	}
	.hamburger {
		display: block;
	}
}

@media screen and (min-width:761px){
	.main-menu {
		display: block!important;
	}
}

.gallery img {
	width: 100%;
}
.gallery div {
	padding: 0px 0px 0px 0px;
}

.gallery h1{
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 40px;
	margin-top: 60px;
	margin-bottom: 20px;
	color: #000;
	
	
}






.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: .5s ease;
	background-color: #000;
}
.image-container:hover .overlay {
	opacity: 0.7;
}
.image-container:hover img {
	filter: blur(3px);
}
.overlay p {
	color: #fff;
	font-size: 18pt;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.overlay a {
	color: #fff;
	text-decoration: none;
}

.form-div{
	padding: 50px 0 40px 20px;
	background-color: #F0F0F0;
}
.form-main{
	width: 100%;
	padding-left: 7%;
}
.contact{
	padding-bottom: 25px;
}
.form-control {
	width: 90%;
	padding: 18px 0px 18px 20px;
	margin : 0px 0px 25px 0px;
    display: block;
    margin-top: 0em;
	border: 0px;
	border-radius: 0px;
}
.message {
	width: 90%;
	padding: 10px 0px 18px 20px;
	margin : 0px 0px 25px 0px;
    display: block;
    margin-top: 0em;
	border: 0px;
	border-radius: 0px;
}
.botun{
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 45px 10px 45px;
    text-decoration: lighter;
    margin: 4px 0px 0px 0px;
    cursor: pointer;
}
::placeholder {
    color: #9A9999;
}
.footer {
	width: 100%;
	padding: 75px 0px 0px 50px;
	height: 350px;
	background-image: url('img/footer_bg.jpg');
	background-size: cover;
	
}
.footer ul {
	float:right;
	padding-top:90px;
}
.footer ul li{
	line-height:100px;
	display: inline-block;
	font-size: 18pt;
	margin: 65px 65px 0px 0px;


}
.footer ul li a{
	color: white;
	font-family: calibri light;
}
.footer ul li a:hover{
	color: white;
	text-decoration: none;
}

.image-slider {
	padding: 0;
	margin-bottom: 20px;
}



.video1{
	margin-top: 15px;
	margin-bottom: 15px;
	 
}
.video1 h1{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	margin: 15px 0 15px 0;
}

.square-blocks div{
	height: 250px;
}

.square-blocks .light-gray-bg {
	background-color: #F0F0F0;
}

.square-blocks .dark-gray-bg {
	background-color: #E0E0E0;
}

.square-blocks p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 30pt;
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.section-title {
	font-size:24pt;
	text-align: center;
	margin: 30px 0;
	text-transform: uppercase;
}

.section {
	margin: 40px 0 10px 0;
}

.square-blocks span {
	font-size: 45pt;
	color: #F6B6A0;
	
}

.square-blocks a {
	text-decoration: none;
	color: #000;

}
.slika_me{
	padding-left: 60px;
	padding-right: 0px;
}
.section p {
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size: 18px;
	
}
.section p1{
	font-family: 'Marck Script', cursive;
	font-size: 25px;
	text-align: center;
	
}
.section h1{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 35px;
	text-transform: uppercase;
}

#vegas {
	height: 500px;
	width:100%;
	margin-bottom: 20px;
	padding: 0;
}
